html {
    height:100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    color: green;
    display: block;
    width:100%;
    height:100%;
    position: relative;
    background-color: rgb(100, 200, 100);
}

#canvas {
    display: block; margin: 0 auto;
}

#bar-menu {
    font-size:30px;
    width: 30%;
    height: 96%;
    float: right;
    margin: 2% auto;
}

#arena {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0px;
    width: 64%;
    height: 96%;
}

#bar-menu {

}

#score {
    font-size: xx-large;
    color: brown;
}